<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Check email</title>
  </head>
  <body>
    <h1>verify your account</h1>
    <p>dear {{userName}}, click <a href="http://localhost:7070/auth/verify/{{userId}}">here</a> to verify your account</p>
  </body>
</html>
